<!DOCTYPE html>
<html>
<style>
    #map {
        height: 100%;
      }

	        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>
<button onclick="setCompletionZone(circPos, radi)">Get Circle</button>
<button onclick="pointInCircle(pos, radi, circPos)">Is In Centre</button>

<p id="demo"></p>
<div id="map"></div>

<script>
var x = document.getElementById("demo");

var map, infoWindow, pos, marker, radi, circle;
//This is the center coordinate for the circle for checking if player insde.
var circPos = {

lat: 50.7302,
lng:-3.51128
}

//This is the radius of circle.
radi = 60;
	//Ran at loading of website, intiliazes the map.
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

		
        
            infoWindow.open(map);
        
      }

	  //Checks if player in the circle
function pointInCircle(point, radius, center)
{


var p = new google.maps.LatLng(point.lat, point.lng );
var c = new google.maps.LatLng(center.lat, center.lng);
	
	if((google.maps.geometry.spherical.computeDistanceBetween(p, c)) >= radius )
	{
		alert("You no there");
	}
	else{
		alert("You there");
	}
}

      
//Gets players current location
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

//Shows position of player on the map.
function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;

    pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
			map.setZoom(20);

			marker = new google.maps.Marker({
					  map: map,
					  position: pos,
					  title: 'your location'
					});
}

//Draws circle of the completion zone.
function setCompletionZone(posi, radi){
	
  					marker = new google.maps.Marker({
					  map: map,
					  position: posi,
					  title: 'circle centre'
					});

					circle = new google.maps.Circle({
					  map: map,
					  radius: radi,
					     strokeColor: '#FF0000',
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: '#FF0000',
					fillOpacity: 0.35
					});
					circle.bindTo('center', marker, 'position');

					marker.setMap(null);


}

//Error handling for location request. 
function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }

  

}
</script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=YOURKEY-FNV4&libraries=geometry&callback=initMap">
</script>

</body>
</html>
