/*
Authors: Thomas
*/

/*navbar*/
.header{
  height: 80px;
  width: 90%;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
  margin: auto;
  margin-bottom: 40px !important;
  border-bottom: 2px solid white;
}
#backtreebtn{
  margin-top: 10px;
  float: left;
  border: none;
  background: none;
}

.menu{
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  right: -100%;
  top: 0;
  padding: 80px 0;
  line-height: normal;
  transition: 0.5s;
  z-index: 5;
}
.menu_item a{
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_item{
  width: 80%;
  display: inline-flex;
  border-bottom: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.menu_item img{
  padding-left: 3px;
  padding-bottom: 3px;
}


.show-menu-btn{
  margin-top: 12px;
  float: right;  padding: 20px;
  cursor: pointer;
}
.show-menu-btn i{
  line-height: 80px;
}


#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.hide-menu-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.UOE_stamp{
  display: block !important;
  float: right;
  width: 120px;
  height: 320px;
  margin-right: 20px;
}

#chk:checked ~ .menu{
  right: 0;
}
