/*
Authors: Nik, Hao 
*/

/*Global-Start*/
body{
  min-height: 100%;
  background: rgb(79,149,255);
  background: linear-gradient(157deg, rgb(21, 114, 255) 0%, rgb(65, 168, 0) 100%);
}

/*Global-End*/

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* Modal css */

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.card{
  border-radius: 10px;
}

/* Make card show up when hovering.*/
.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
input[type=text],input[type=number], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-bottom: 200px;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Bonus shadows */

.shadow-1{
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

/* Logo */

.card-logo{
  height: 10%;
}

/* Neumorphism features */

body, html {
  background-color:#EBECF0;
}


form {
  padding: 16px;
  width: 16px*20;
  margin: 0 auto;
}

.segment {
  padding: 16px*2 0;
  text-align: center;
}

input,.input {
  margin-right: 16px/2;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
  outline: none;
  border: none;
}

input:focus, .input:hover{
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.buttonX {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  border: 0;
  outline: 0;
  font-size: 20px;
  border-radius: 16px*20;
  padding: 16px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  color:#61677C;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  
}

.buttonX:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  
.buttonX:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
.buttonX.icon {
  margin-right: 16px/2;
}

.buttonX.unit {
  border-radius: 16px;
  line-height: 0;
  width: 16px*3;
  height: 16px*3;
  display:inline-flex;
  justify-content: center;
  align-items:center;
  margin: 0 16px/2;
  font-size: 16px*1.2;
}
.buttonX.unit.icon {
  margin-right: 0; 
}
.buttonX.unit.red {
  display: block;
  width: 100%;
  color:#AE1100;
}

/* Button adaptations for Neu */

.btnGreen{
  width: auto; 
  display: block;
  margin: auto;
  color: rgb(53, 189, 58);
  outline: none;
  text-shadow: none;
}

.btnRed{
  display: block;
  margin: auto;
  color: red;
  width: auto;
  outline: none;
}

.input{
  border:none;
}

/* Wave Footer */

.background-img
{
   position: absolute;
   right: 2%;
   bottom: 2%;
   width: 10%;
   z-index: 1050;
}

/* Bug fixes*/
.row{
  margin-left: 0px;
  margin-right: 0px;
}

.card-image-top{
  width: 50px;
}