<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Exe Orientation</title>
  <meta name="description" content="Contact page">
  <meta name="author" content="Hao">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
  </style>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



</head>
<body>

	<!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->


    <h1><center>Contacts</center></h1>
<button class="collapsible">Key contacts</button>
<div class="content">
  <div class="tab-pane fade active in" id="tab4" bis_skin_checked="1">
   <h2>Key contacts</h2>
	<h3>Accommodation Office</h3>
<h4>Exeter</h4>
<p>Phone: 0300 555 0444 (UK callers)<br>+44 1392 722524 (EU/International callers)<br>Email: <a href="mailto:sid@exeter.ac.uk" bis_skin_checked="1">sid@exeter.ac.uk</a> <br>Visit the <a href="/accommodation/" bis_skin_checked="1">Accommodation website</a></p>
<h3>IT Support</h3>
<h4>Exeter - contact IT Help Desk</h4>
<p>Phone: 01392 723934<br>Web:&nbsp;<a href="http://www.exeter.ac.uk/ithelpdesk" bis_skin_checked="1">http://www.exeter.ac.uk/ithelpdesk</a></p>
<h3>Media enquiries</h3>
<h3>Career Zone</h3>
<p>Phone +44 (0) 1392 724493<br>Email: <a href="mailto:careers@exeter.ac.uk" bis_skin_checked="1">careers@exeter.ac.uk</a></p>

</div>
</div>
<br>
<button class="collapsible">Course enqueries</button>
<div class="content">
  <div class="tab-content clearfix" bis_skin_checked="1">
              <!-- tab0 Starts -->
              <div class="tab-pane fade active in" id="tab0" bis_skin_checked="1">
                <h2>Course enquiries</h2>

                <ul>
<li>To order a prospectus: <a href="/undergraduate/prospectus/" bis_skin_checked="1">Undergraduate Prospectus orders</a>; <a href="/postgraduate/prospectus/" bis_skin_checked="1">Postgraduate Prospectus orders</a></li>
<li>Undergraduate admissions: <strong><a href="https://www.exeter.ac.uk/enquiry/" target="_blank" bis_skin_checked="1">Enquire online</a></strong> 0300 555 60 60 (UK callers)* +44 (0)1392 723044 (EU/International callers)</li>
<li>Postgraduate admissions: <strong><a href="https://www.exeter.ac.uk/enquiry/" target="_blank" bis_skin_checked="1">Enquire online</a></strong> 0300 555 60 60 (UK callers)* +44 (0)1392 723044 (EU/International callers)</li>
<li>PGCE enquiries: <strong><a href="https://www.exeter.ac.uk/enquiry/" target="_blank" bis_skin_checked="1">Enquire online</a></strong> 0300 555 60 60 (UK callers)* +44 (0)1392 723009 (EU/International callers)</li>
<li>International student enquiries: <strong><a href="https://www.exeter.ac.uk/enquiry/" target="_blank" bis_skin_checked="1">Enquire online</a></strong></li>
<li>Study Abroad: <a href="mailto:inbound@exeter.ac.uk" bis_skin_checked="1">inbound@exeter.ac.uk</a> +44(0)1392 725739; <a href="mailto:outbound@exeter.ac.uk" bis_skin_checked="1">outbound@exeter.ac.uk</a> +44 (0)1392 723841</li>
</ul>
<p><sub>*Calling us on an 0300 number will cost you the same as a call to a standard landline number starting with 01 and 02.</sub></p>
<p><sub>If you have an inclusive call package for calling landline numbers on your mobile or landline telephone the call would simply be reduced from your available talk minutes. Otherwise your call will be charged at the same rate as calling a standard national rate number.</sub></p>
              </div>
              <!-- tab0 Ends -->
              <!-- navigation object : UG Custom top tab entries --><!-- tab2 Starts -->
<div class="tab-pane fade" id="tab2" bis_skin_checked="1">

   <h2>University reception </h2>

	<p>The University's reception handles general enquiries and visitors to the University. The address for the reception is:</p>
<p>University of Exeter Reception<br>Stocker Road<br>Exeter EX4 4PY</p>
<p><strong>Telephone:</strong> +44 (0) 1392 661000</p>
<p>Access information for the main reception is available on the <a href="https://accessable.co.uk/venues/main-university-reception" bis_skin_checked="1">AccessAble website</a>.</p>

</div>
<!-- tab2 Ends --> <!-- tab3 Starts -->
<div class="tab-pane fade" id="tab3" bis_skin_checked="1">

   <h2>Postal address</h2>

	<p>General mail for the University should be addressed to:</p>
<p>The University of Exeter<br>Mail Room, The Old Library<br>Prince of Wales Road<br>Exeter, Devon UK<br>EX4 4SB</p>

</div>
<!-- tab3 Ends --> <!-- tab4 Starts -->
<div class="tab-pane fade" id="tab4" bis_skin_checked="1">

   <h2>Key contacts</h2>

	<h3>Accommodation Office</h3>
<h4>Exeter</h4>
<p>Phone: 0300 555 0444 (UK callers)<br>+44 1392 722524 (EU/International callers)<br>Email: <a href="mailto:sid@exeter.ac.uk" bis_skin_checked="1">sid@exeter.ac.uk</a> <br>Visit the <a href="/accommodation/" bis_skin_checked="1">Accommodation website</a></p>
<h4>Cornwall</h4>
<p>Cornwall Accommodation Office<br>Phone: +44 (0) 1326 253639<br>Email: <a href="mailto:accommodation@fxplus.ac.uk" bis_skin_checked="1">accommodation@fxplus.ac.uk</a><br>Visit the <a href="/accommodation/cornwallcampuses/students/" bis_skin_checked="1">Penryn Campus Accommodation website</a></p>
<h3>IT Support</h3>
<h4>Exeter - contact IT Help Desk</h4>
<p>Phone: 01392 723934<br>Web:&nbsp;<a href="http://www.exeter.ac.uk/ithelpdesk" bis_skin_checked="1">http://www.exeter.ac.uk/ithelpdesk</a></p>
<h4>Cornwall</h4>
<p><strong>Tel:</strong> 01326 213822<br><strong>Email:&nbsp;</strong><a href="mailto:servicedesk@fxplus.ac.uk" bis_skin_checked="1">servicedesk@fxplus.ac.uk</a><br><strong>Web:</strong> <a href="http://www.fxplus.ac.uk/study/it-service-desk" bis_skin_checked="1">http://www.fxplus.ac.uk/study/it-service-desk</a></p>
<h3>Media enquiries</h3>
<h4>Press Office</h4>
<p>Phone +44 (0) 1392 722062 / 262307 / 722405<br>Email <a href="mailto:pressoffice@exeter.ac.uk" bis_skin_checked="1">pressoffice@exeter.ac.uk</a></p>
<h3>Research Services</h3>
<p>Phone: +44 (0) 1392 723456<br>Fax: +44 (0) 1392 723686<br>Email: <a href="mailto:rkt@exeter.ac.uk" bis_skin_checked="1">rkt@exeter.ac.uk</a></p>
<h3>Innovation, Impact and Business</h3>
<p>Phone: +44 (0) 1392 723456<br>Fax: +44 (0) 1392 723686<br>Email: <a href="mailto:business@exeter.ac.uk" bis_skin_checked="1"><span id="ctl00_cph_MAIN_repHCAs_ctl01_lblHCA_NOTE">business@exeter.ac.uk</span></a></p>
<h3>Career Zone</h3>
<p>Phone +44 (0) 1392 724493<br>Email: <a href="mailto:careers@exeter.ac.uk" bis_skin_checked="1">careers@exeter.ac.uk</a></p>
<h4>Conferences, Events and B&amp;B</h4>
<p>Phone&nbsp;+44 (0) 300 555 0214<br>Fax +44 (0) 1392 723512<br>Email: <a href="mailto:eventexeter@exeter.ac.uk" bis_skin_checked="1">eventexeter@exeter.ac.uk</a> <br>Web: <a href="http://www.exeter.ac.uk/eventexeter/" bis_skin_checked="1">www.exeter.ac.uk/eventexeter</a></p>
<h3>Alumni Services</h3>
<h4>Global Engagement and Development (GED)</h4>
<p>Phone +44 (0) 1392 723141<br>Fax +44 (0) 1392 723187<br>Email: <a href="mailto:alumni@exeter.ac.uk" bis_skin_checked="1">alumni@exeter.ac.uk</a></p>

</div>
<!-- tab4 Ends --> <!-- tab5 Starts -->
<div class="tab-pane fade" id="tab5" bis_skin_checked="1">

   <h2>Website feedback</h2>

	<p>We welcome questions or comments on any matter regarding our website. These comments should be sent to the <a href="mailto:webeditor@exeter.ac.uk" bis_skin_checked="1">Web Editor</a>.</p>

</div>
<!-- tab5 Ends -->

            </div>
</div>
<button class="collapsible">Change me</button>
<div class="content">
  <p>Change me</p>
</div>




<script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
  </script>

</body>