<!-- Authors: Nik, Hao, Sam-->
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Exe Orientation</title>
  <meta name="description" content="Contact page">
  <meta name="author" content="Sam">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{% static 'css/STmaster.css' %}">
<link rel="stylesheet" href="{% static 'css/STnavbar.css' %}">
<link rel="stylesheet" href="{% static 'css/SThome.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/STcollapse.css' %}">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
  
	<!-- MAIN MENU-S-->
    <div class="header bg-transparent ">
		<a href="/">
      <img class="nav_logo" src="{% static '/images/STmenu/Treelogo.png' %}" alt="Logo" style="width:40px;"></a>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <img src="{% static '/images/STmenu/Hamburger.png' %}">
      </label>
      <ul class="menu">
        <ul class="menu_item">
          <a href="/locations">Locations</a>
          <img class="logo_menu" src="{% static '/images/STmenu/locations.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/contact">Contacts</a>
          <img class="logo_menu" src="{% static '/images/STmenu/contacts.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/faq">FAQs</a>
          <img class="logo_menu" src="{% static '/images/STmenu/faq.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="#">About</a>
          <img class="logo_menu" src="{% static '/images/STmenu/about.svg' %}" alt="icon">
        </ul>
        <label for="chk" class="hide-menu-btn">
          <img src="https://img.icons8.com/ios-filled/36/000000/delete-sign.png">
        </label>
        <img class="UOE_stamp" src="{% static '/images/STmenu/uniExeter.svg' %}" alt="Universit of Exeter">
      </ul>
    </div>
    <!--MAIN MENU-E -->

	<!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div style="width:95%" class="container-fluid p-3 my-3 bg-white ">
    <h1><center>Contacts</center></h1>
<button class="collapsible">University Reception</button>
<div class="content">
	<p>The University's reception handles general enquiries and visitors to the University. The address for the reception is:</p>
	<p>University of Exeter Reception<br>Stocker Road<br>Exeter EX4 4PY</p>
	<p><strong>Telephone:</strong> +44 (0) 1392 661000</p>
	<p>Access information for the main reception is available on the <a href="https://accessable.co.uk/venues/main-university-reception" bis_skin_checked="1">AccessAble website</a>.</p>
	</div>
<br>

<button class="collapsible">Accommodation Office</button>
	<div class="content">
		<p><p>Phone: 0300 555 0444 (UK callers)<br>+44 1392 722524 (EU/International callers)<br>Email: <a href="mailto:sid@exeter.ac.uk" bis_skin_checked="1">sid@exeter.ac.uk</a> <br>Visit the <a href="/accommodation/" bis_skin_checked="1">Accommodation website</a></p></p>
	</div>

<button class="collapsible">IT Support</button>
	<div class="content">
		<p>Phone: 01392 723934<br>Web:&nbsp;<a href="http://www.exeter.ac.uk/ithelpdesk" bis_skin_checked="1">http://www.exeter.ac.uk/ithelpdesk</a></p>
	</div>

<button class="collapsible">Career Zone</button>
	<div class="content">
		<p>Phone +44 (0) 1392 724493<br>Email: <a href="mailto:careers@exeter.ac.uk" bis_skin_checked="1">careers@exeter.ac.uk</a></p>
	</div>

<button class="collapsible">Student Health Centre</button>
	<div class="content">

		<p>Student Health Centre<br>
			Reed Mews<br>
			Streatham Drive<br>
			University Campus<br>
			Exeter<br>
			EX4 4QP<br>

			Tel: 01392 676606<br>
			Email: <a href="mailto:studenthealth@exeter.ac.uk" bis_skin_checked="1">studenthealth@exeter.ac.uk</p>
	</div>	
</div>

<script>
// Functionality for drop down lists
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
</body>