{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Exe Orientation</title>
  <meta name="description" content="">
  <meta name="author" content="Sam">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{% static 'css/STmaster.css' %}">
<link rel="stylesheet" href="{% static 'css/STnavbar.css' %}">
<link rel="stylesheet" href="{% static 'css/SThome.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/STcollapse.css' %}">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  


</head>
<body>
	<!--MAIN MENU-S-->
    <div class="header bg-transparent ">
      <a href="/">
      <img class="nav_logo" src="{% static '/images/STmenu/Treelogo.png' %}" alt="Logo" style="width:40px;"></a>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <img src="{% static '/images/STmenu/Hamburger.png' %}">
      </label>
      <ul class="menu">
        <ul class="menu_item">
          <a href="/locations">Locations</a>
          <img class="logo_menu" src="{% static '/images/STmenu/locations.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/contact">Contacts</a>
          <img class="logo_menu" src="{% static '/images/STmenu/contacts.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/faq">FAQs</a>
          <img class="logo_menu" src="{% static '/images/STmenu/faq.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="#">About</a>
          <img class="logo_menu" src="{% static '/images/STmenu/about.svg' %}" alt="icon">
        </ul>
        <label for="chk" class="hide-menu-btn">
          <img src="https://img.icons8.com/ios-filled/36/000000/delete-sign.png">
        </label>
        <img class="UOE_stamp" src="{% static '/images/STmenu/uniExeter.svg' %}" alt="Universit of Exeter">
      </ul>
    </div>
    <!--MAIN MENU-E-->

	<!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
<div style="width:95%" class="container-fluid p-3 my-3 bg-white ">
	<h1><center>Frequently Asked Questions</center></h1><br>
	<button class="collapsible">What are the opening time of the SID desk?</button>
	<div class="content">
		<table border="0">
		<tbody>
		<tr><th>Opening hours</th><th>SID (Streatham Campus)</th><th>Info at St Luke's</th></tr>
		<tr>
		<td>Monday to Friday (term time)</td>
		<td>
		<p>08:00 - 18:00 (Desk)</p>
		<p>09:00 - 17:00 (Phones)</p>
		<p>24 hour access via SID Online</p>
		</td>
		<td>
		<p><strong><br></strong>08:30 - 16:30</p>
		</td>
		</tr>
		<tr>
		<td>Monday to Friday (vacation)</td>
		<td>09:00 - 17:00</td>
		<td>09:00 - 17:00</td>
		</tr>
		<tr>
		<td>Saturday (term time only)</td>
		<td>10:00 - 15:00</td>
		<td><strong>CLOSED</strong></td>
		</tr>
		</tbody>
		</table>
	</div>
	<br>

	<button class="collapsible">How do I find my student candidate number?</button>
	<div class="content">
	<p>You can obtain your candidate number for the current academic year from your online <a href="https://i.exeter.ac.uk">iExeter</a>/SRS record.</p>
	</div>

	<button class="collapsible">What time is Market Place open?</button>
	<div class="content">
	<p>Mon-Fri: 8am-10pm</p>
	<p>Sat/Sun: 9am-5pm</p>
	</div>

	<button class="collapsible">When is reading week?</button>
	<div class="content">
	<p>For most First years reading week is the 6th week of term 1; beyond first year term 1, reading weeks are subject dependant.</p>
	</div>

	<button class="collapsible">How do I go about changing modules?</button>
	<div class="content">
	<p>The module change process is controlled by Colleges. It is usually necessary for you to complete a Module Change 
		Form to ensure that the Examinations Office is notified of any changes relevant to the exam timetabling.</p>
	</div>

	<button class="collapsible">I can’t view my timetable on MyTimetable/iExeter, what should I do?</button>
	<div class="content">
	<p>Please email the Exams Office (<a href="mailto:sid@exeter.ac.uk">sid@exeter.ac.uk</a>) and we will 
	investigate why you cannot see your timetable online; we will then email you back once the problem has been 
	resolved or give further advice.</p>
	</div>

	<button class="collapsible">How do I apply for mitigation?</button>
	<div class="content">
	<p>You should contact your <a href="http://www.exeter.ac.uk/students/infopoints/" target="_blank">College 
	Education Support Team</a> to be advised of the procedure for applying for mitigation, as it varies from 
	College to College.&nbsp; Further details on the mitigation process may be found 
	<a href="http://www.exeter.ac.uk/wellbeing/studentwelfare/mitigationprocess/" target="_blank">here</a>.</p>
	</div>

	<button class="collapsible">Where can I access past exam papers?</button>
	<div class="content">
	<p>You can find the majority of <a href="http://library.exeter.ac.uk/exampapers/">past exam papers online</a>.</p>
	</div>
</div>





<script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
  </script>

</body>