
{% load static %}
<!-- Authors: Nik, Hao-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />-->
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/STgm.css' %}">
</head>
<!-- Gradient background -->
<style>

.card-image-top{
  width: 50px;
}
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body >
    <!-- Header will just have logout button -->
<div id="header" class="navbar">
    <a class="btn btn-primary" href="/logout">Logout</a>
</div>
<!-- Header will just have logout button -->

<div id="body-master"></div>
<div class="container">
    <div class="card-deck">
        <div class="card m-5">
          <div class="card-body">
            <h4 class="card-title">Create new Route</h5>
            <p class="card-text">Create tours.</p>
            <div class="p-5">
              <img class="card-img-top p-4" src="{% static 'images/STgm/left.svg' %}" alt="Tool showing" >
            </div>
            <button  class = "buttonX"type="button" onclick="document.getElementById('id01').style.display='block'"><i class="icon ion-md-lock"></i> Create Route</button>
          </div>
        </div>
        <div class="card m-5">
          <div class="card-body">
            <h4 class="card-title">Start existing Route</h5>
            <p class="card-text">Start with one of our pre defined routes.</p>
            <div class="p-5">
              <img class="card-img-top p-4" src="{% static 'images/STgm/right.svg' %}" alt="Map showing" >
            </div>
            <button  onclick="document.getElementById('id03').style.display='block'"  class = "buttonX"type="button" onclick="document.getElementById('id01').style.display='block'"><i class="icon ion-md-lock"></i> Create Game</button>
          </div>
        </div>
      </div>

      <div class="fixed-bottom p-5" style="z-index: inherit;">
        <div class="container"></div>
              <div class = "d-flex justify-content-end">
                  <div class="btn btn-light" style="width: 15%;">
                    <img src="{% static 'images/uniExeter.svg' %}" alt="Exeter Logo" class="w-100 p-3"></div>
          </div>
</div>







<div id="id01" class="modal">

  <form class="modal-content animate"  id="myForm1">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Route ID</b></label>
      <input type="number" placeholder="Enter Route ID" name="routeID"  id = "routeId" required >

      <label for="psw"><b>Route Name</b></label>
      <input type="text" placeholder="Enter Route Name" name="routeName" id ="routeName" required>
	  <!-- <script src="{% static 'js/map.js' %}"></script>
	  <div id="map"></div>
	  <input type="text" id="lat" placeholder="Latitude" name="Latitude">
	  <input type="text" id="lng" placeholder="Longitude" name="Longitude">
	  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcHEtEv3vrbgnUWoS7z2rlJJq3ricJdDU&callback=initMap"></script> -->


      <input type="submit" name="click" value="Submit" />

    </div>

    <div class="container" style="background-color:#f1f1f1; border-radius: 10px; padding: 10 px;">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="buttonX" style="width: auto; padding: 10px 18px; background-color: #f44336; text-shadow: none;">Cancel</button>
    </div>
  </form>
</div>



    <div id="id07" class="modal">

  <form class="modal-content animate"  id="myForm3">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id07').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <table id="myTable">
  <tr class="header">
      <th>routeID</th>
      <th>Edit</th>
     <th>Questions</th>
        <th>Answers</th>
        <th>Hint</th>
          <th>Latitude</th>
          <th>Longtitude</th>
      <th>Edit</th>

  </tr>
    {% for i in questions %}
      <tr>
        <td>{{ i.routeID_id }}</td>
          <td><button class="btn btn-outline-success" value="{{ i.node_num }}"type= "button" onclick="
        deleteQuestion(this) " >Delete question</button></td>
        <td>{{ i.questions }}</td>
        <td>{{ i.answers }}</td>
          <td>{{ i.hints}}</td>
      <td>{{ i.latitude }}</td>
      <td>{{ i.longtitude }}</td>
      <td><button class="btn btn-outline-success" value="{{ i.questions }}"type= "button" onclick="current_question = '{{ i.questions }}';
      current_answer = '{{ i.answers }}'; current_hint = '{{ i.hints}}'; current_lat = '{{ i.latitude }}';
      current_lng = '{{ i.longtitude }}'; node_num = '{{ i.node_num }}'; edit(this);
              " >Edit question</button></td>

      </tr>
     {% endfor %}

</table>
    <td><button class="btn btn-outline-success" type= "button" onclick="document.getElementById('id07').style.display='none',document.getElementById('id12').style.display='block',initMap2()" >Add</button></td>
    </div>
    <div class="container" style="background-color:#f1f1f1; border-radius: 10px; padding: 10 px;">
      <button type="button" onclick="document.getElementById('id07').style.display='none',document.getElementById('id03').style.display='block'" class="width: auto; padding: 10px 18px; background-color: #f44336; text-shadow: none;">Cancel</button>
    </div>
  </form>
</div>




    <div id="id04" class="modal">

  <form class="modal-content animate"  id="createGame">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id04').style.display='none', document.getElementById('id03').style.display='block'" class="close" title="Close Modal">&times;</span>

    </div>

    <div class="container">
        <h1 id ="code"></h1>
      <label for="uname"><b>Generate a random groupcode or enter your own, please remember the code as it needs to be sent to your tutees</b></label>
        <input type="text" placeholder="Enter Groupcode" name="groupcode" id="groupcode"required>
        <button type="button" onclick ="generate()">Generate a groupcode</button>



      <input type="submit" name="click" value="Submit" />

    </div>

    <div class="container" style="background-color:#f1f1f1; border-radius: 10px; padding: 10 px;">
      <button type="button" onclick="document.getElementById('id04').style.display='none',
      document.getElementById('id03').style.display='block'" class="width: auto; padding: 10px 18px; background-color: #f44336; text-shadow: none;">Cancel</button>
    </div>
  </form>
</div>


    <div id="id10" class="modal">

  <form class="modal-content animate"  id="editquestion">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id10').style.display='none', document.getElementById('id07').style.display='block'" class="close" title="Close Modal">&times;</span>

    </div>

    <div class="container">
      <label for="uname"><b>Question</b></label>
      <input type="text" placeholder="Enter Question" name="question" id="question_edit"required>

      <label for="psw"><b>Answer</b></label>
      <input type="text" placeholder="Enter Answer" name="answer" id="answer_edit" required>

        <label for="psw"><b>Hint</b></label>
      <input type="text" placeholder="Enter Hint" name="hint" id="hint_edit" required>
        <label for="psw"><b>Drag the red pin to the location</b></label>
	  <script src="{% static 'js/map_edit.js' %}"></script>
	  <div id="map2" style="width: 100%; height: 500px;"></div>
	  <input type="text" id="lat_edit" placeholder="Latitude" name="Latitude_edit" required>
	  <input type="text" id="lng_edit" placeholder="Longitude" name="Longitude_edit" required>

<!--
        <label for="location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location URL" name="location" id="location" required>
        <label for="psw"><b>Latitude</b></label>
      <input type="number" step = any placeholder="Enter Latitude" name="Latitude" id="Latitude" required>
        <label for="psw"><b>Longtitude</b></label>
      <input type="number" step = any placeholder="Enter Longtitude" name="Longtitude" id="Longtitude" required> -->

      <input type="submit" name="click" value="Submit" />

    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id10').style.display='none',
      document.getElementById('id07').style.display='block'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>





    <div id="id03" class="modal">

  <form class="modal-content animate"  id="createGame">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>

    </div>

    <div class="container">

  <h2>Filterable Table</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>RouteID</th>
        <th>Route Name</th>
        <th>Create Game</th>
          <th>More details</th>
          <th>Delete Route</th>
      </tr>
    </thead>
    <tbody id="myTable">
    {% for routeID in route_list %}
      <tr>

        <td>{{ routeID.routeID }}</td>
        <td>{{ routeID.RouteName }}</td>
        <td ><button class="btn btn-outline-success" value="{{ routeID.routeID }}"type= "button" onclick="document.getElementById('id04').style.display='block',
        document.getElementById('id03').style.display='none',getID(this) " >Create Game</button></td>
      <td ><button class="btn btn-outline-success" value="{{ routeID.routeID }}"type= "button" onclick="document.getElementById('id03').style.display='none',
      document.getElementById('id07').style.display='block'
        ,getQuestions(this), myFunction() " >More details</button></td>
      <td><button class="btn btn-outline-success" value="{{ routeID.routeID }}"type= "button" onclick="
        deleteRoute(this) " >Delete Route</button></td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
    </div>
  <div class="container" style="background-color:#f1f1f1; border-radius: 10px; padding: 10 px;">
      <button type="button" onclick="document.getElementById('id03').style.display='none'" class="width: auto; padding: 10px 18px; background-color: #f44336; text-shadow: none;">Cancel</button>
    </div>
  </form>

</div>





    <div id="id12" class="modal">
      <form class="modal-content animate"  id="myForm4">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Question</b></label>
      <input type="text" placeholder="Enter Question" name="question" id="question_add"required>

      <label for="psw"><b>Answer</b></label>
      <input type="text" placeholder="Enter Answer" name="answer" id="answer_add" required>
        <label for="psw"><b>Hint</b></label>
      <input type="text" placeholder="Enter Hint" name="hint" id="hint_add" required>
        <label for="psw"><b>Drag the red pin to the location</b></label>
	  <script src="{% static 'js/map.js' %}"></script>
	  <div id="map3" style="width: 100%; height: 500px;"></div>
	  <input type="text" id="lat_add" placeholder="Latitude" name="Latitude" required>
	  <input type="text" id="lng_add" placeholder="Longitude" name="Longitude" required>
	  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcHEtEv3vrbgnUWoS7z2rlJJq3ricJdDU&callback=initMap"></script>
<!--
        <label for="location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location URL" name="location" id="location" required>
        <label for="psw"><b>Latitude</b></label>
      <input type="number" step = any placeholder="Enter Latitude" name="Latitude" id="Latitude" required>
        <label for="psw"><b>Longtitude</b></label>
      <input type="number" step = any placeholder="Enter Longtitude" name="Longtitude" id="Longtitude" required> -->

      <input type="submit" name="click" value="Submit" />
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id12').style.display='none', window.location.reload();" class="cancelbtn">Finished</button>
    </div>
  </form>
</div>












    <div id="id02" class="modal">
      <form class="modal-content animate"  id="myForm2">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Question</b></label>
      <input type="text" placeholder="Enter Question" name="question" id="question"required>

      <label for="psw"><b>Answer</b></label>
      <input type="text" placeholder="Enter Answer" name="answer" id="answer" required>

        <label for="psw"><b>Hint</b></label>
      <input type="text" placeholder="Enter Hint" name="hint" id="hint" required>
        <label for="psw"><b>Drag the red pin to the location</b></label>
	  <script src="{% static 'js/map.js' %}"></script>
	  <div id="map"></div>
	  <input type="text" id="lat" placeholder="Latitude" name="Latitude" required>
	  <input type="text" id="lng" placeholder="Longitude" name="Longitude" required>
	  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcHEtEv3vrbgnUWoS7z2rlJJq3ricJdDU&callback=initMap"></script>
<!--
        <label for="location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location URL" name="location" id="location" required>
        <label for="psw"><b>Latitude</b></label>
      <input type="number" step = any placeholder="Enter Latitude" name="Latitude" id="Latitude" required>
        <label for="psw"><b>Longtitude</b></label>
      <input type="number" step = any placeholder="Enter Longtitude" name="Longtitude" id="Longtitude" required> -->

      <input type="submit" name="click" value="Submit" />

    </div>

    <div class="container" style="background-color:#f1f1f1; border-radius: 10px; padding: 10 px;">
      <button type="button" onclick="document.getElementById('id02').style.display='none', window.location.reload();" class="width: auto; padding: 10px 18px; background-color: #f44336; text-shadow: none;">Finished</button>
    </div>
  </form>
</div>

{% csrf_token %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
// Get the modal



/**
 * The function generate generates a random groupcode for the user and put it to the input box
 */
function generate(){
    let r = Math.random().toString(36).substring(7); // Generate a random value
    document.getElementById("groupcode").value = r;  // Change the value of the input field to variable r
}

var routeID;  // Variable to store routeID created by user
</script>
<script>
    /**
    * Ajax call to send all the data from the form into django backend to create a new RouteID
    */
    $(document).ready(function(){
         $(function(){
            $("#myForm1").submit(function(event){
                event.preventDefault();  // Prevents browser from refreshing page
                var data1 = $('#routeId').serialize()    // Get data using id and set it to a variable
                var name = $('#routeName').val()    // Get data using id and set it to a variable
                // Ajax call to send data to django backend 
                $.ajax({
                    type: "post",
                    url: '/create_route',
                    data : {data2:data1, routeName: name, 'csrfmiddlewaretoken': "{{ csrf_token }}"},
                    success: function(response){
                        if (response == "Exist") {
                    alert("Sorry the route ID already exist, please enter a new one")  // Error message
                } else {
                    alert("New route created, please insert questions");
                    routeID = data1;   // Set routeID to the routeID user choose to create
                    document.getElementById('id01').style.display = 'none'; // Hide modal
                    document.getElementById('id02').style.display = 'block'; // Display another add question modal
                }
                    },
                    error: function(xhr, desc, err){
                        console.log(err);   // Display error message
                    }
                });
            });
        });
    });
</script>
<!-- Footer will have logo in bottom right -->
<script>
    var counter = 1; // An int variable to keep track number of questions added by the user to the database
    /**
    * This function will send data to the django backend for it to add an question to the database
    */
    $(document).ready(function(){
         $(function(){
            $("#myForm2").submit(function(event){
                event.preventDefault();   // Prevents browser from refreshing page
                // Below code is to get value of each input field and store them into a variable
                var question, answer, hint, latitude, longtitude;
                var question = $('#question').val()
                var answer = $('#answer').val()
                var hint = $('#hint').val()
                var latitude = $('#lat').val()
                var longtitude = $('#lng').val()
                // Ajax call to send data to django backend
                $.ajax({
                    type: "post",
                    url: '/add_question',
                    data : {question:question, answer: answer,
                        hint: hint, latitude: latitude,
                         longtitude: longtitude, node_num: counter, routeID:routeID,'csrfmiddlewaretoken': "{{ csrf_token }}"},
                    success: function(response){
                        if (response == "Added successfully") {
                            alert("Inserted successfully");
                            document.getElementById("myForm2").reset(); // Reset form allowing user to add new question
                            counter += 1;
                } else {
                    alert("Question not added, please try again")
                }
                    },
                    error: function(xhr, desc, err){
                        console.log(err);
                    }
                });
            });
        });
    });
</script>

<script>
    /**
    * This function sends data inputted from user to the django backend which allows user to add more questions to
     * existing routeID
    */
    $(document).ready(function(){
         $(function(){
            $("#myForm4").submit(function(event){
                event.preventDefault();
                var question, answer, hint, latitude, longtitude;
                // Below code is to get value of each input field and store them into a variable
                var question = $('#question_add').val()
                var answer = $('#answer_add').val()
                var hint = $('#hint_add').val()
                var latitude = $('#lat_add').val()
                var longtitude = $('#lng_add').val()
                // Ajax call to send data to django backend
                $.ajax({
                    type: "post",
                    url: '/add_question_existing',
                    data : {question:question, answer: answer,
                        hint: hint, latitude: latitude,
                         longtitude: longtitude,  routeID:createGameID,'csrfmiddlewaretoken': "{{ csrf_token }}"},
                    success: function(response){
                        if (response == "Added successfully") {
                            alert("Inserted successfully");
                            document.getElementById("myForm4").reset();  // Reset form
                            location.reload(); // Reload page to reflect changes in the database
                } else {
                    alert("Question not added, please try again")
                }
                    },
                    error: function(xhr, desc, err){
                        console.log(err);
                    }
                });
            });
        });
    });
</script>



<script>
        /**
        * Function sends data using ajax to the django backend which allow user to create new entries in the Gamecode
         * database so students can join game using the groupcode
        */
        $(document).ready(function(){
         $(function(){
            $("#createGame").submit(function(event){
                event.preventDefault();  // Prevent page from refreshing

                var groupcode;
                var groupcode = $('#groupcode').val()  // Get value
                // Ajax call to send data to django backend
                $.ajax({
                    type: "post",
                    url: '/create_game',
                    data : {routeID:createGameID, groupcode:groupcode,'csrfmiddlewaretoken': "{{ csrf_token }}"},
                    success: function(response){
                        if (response == "Added") {
                            alert("Game created, send the groupcode to your tutees for them to join the game");
                            document.getElementById('id04').style.display = 'none'; // Hide modal
                } else {
                    alert("Groupcode already exist, please enter or generate a new one and re-submit");
                }
                    },
                    error: function(xhr, desc, err){
                        console.log(err);
                    }
                });
            });
        });
    });
    </script>


<script>
/**
 * The function filters the table that shows all the routeID entries in the database based on user's entry
 */
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();  // Get value from table and convert it into lower case
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)  // Check if any entries in the database matches
                                                                        // user's input
    });
  });
});

var createGameID = 0;  // An int variable to keep track which routeID user selected in the database
/**
 * The function gets the routeID user has selected to modify view and display it
 */
function getID(what){
    createGameID = what.value;
    document.getElementById("code").innerHTML = "You have selected route: " + createGameID;
};
/**
 * The function gets the routeID user has selected to modify
 */
function getQuestions(what){
        createGameID = what.value;  // get parameter's value
};
</script>
<script>
/**
 * The function filter's question table based on the routeID user has selected
 */
function myFunction() {
  var  filter, table, tr, td, i, txtValue;
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue == createGameID) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";   // Display nothing if values aren't equal
      }
    }
  }
}

/**
 * The function sends informatio to django backend using ajax which allows user to delete a question from a route in the
 * database
 * @param node_num - The node_num of the question user has chose to delete
 */
function deleteQuestion(node_num) {
    var r = confirm("Are you sure you want to delete the question?");   // Pop up box asking if the user wants to delete
                                                                        // the entry from the database
    if (r == true) {
        node_num = node_num.value; // Set node_num to the value from the user's selection
        // Ajax call to send data to django backend
        $.ajax({
            url: '/delete_question',
            method: 'POST',
            data: {routeID: createGameID, node_num: node_num, 'csrfmiddlewaretoken': "{{ csrf_token }}"},
            success: function (response) {
                alert("question deleted");
                location.reload();  // Reload page
            },
            error: function (xhr, desc, err) {
                console.log(err);
            }
        });
    }
}

/**
 * The function sends informatio to django backend using ajax which allows user to delete a route from the game in the
 * database
 * @param routeID - The routeID that user wants to delete from the database
 */
function deleteRoute(routeID) {
    var r = confirm("Are you sure you want to delete the selected Route?");
    if (r == true) {
        routeID = routeID.value; // Get value
        // Ajax call to send data to django backend
        $.ajax({
            url: '/delete_route',
            method: 'POST',
            data: {routeID: routeID,  'csrfmiddlewaretoken': "{{ csrf_token }}"},
            success: function (response) {
                alert("Route deleted");
                location.reload(); // Refresh the page to reflect changes
            },
            error: function (xhr, desc, err) {
                console.log(err);
            }
        });
    }
}

var current_question, current_answer, current_hint, current_lat, current_lng, node_num;
/**
 * Load edit question form and add values to the input fields
 */
function edit(){
        document.getElementById('id10').style.display = 'block';
        initMap1();
        document.getElementById('question_edit').value = current_question;
        document.getElementById('answer_edit').value = current_answer;
        document.getElementById('hint_edit').value = current_hint;
        document.getElementById('lat_edit').value = current_lat;
        document.getElementById('lng_edit').value = current_lng;
}
</script>
<script>
    /**
    * Load google maps api for the user to drag and drop location on the map to selecte latitude and longtitude values
     * instead of manually finding it out and typing it, this is a map for edit questions table
    */
    function initMap1() {
	// make the map
  var map1 = new google.maps.Map(
    document.getElementById('map2'), {
      zoom: 17,
      center: new google.maps.LatLng(50.726, -3.531)
    });
	// put the marker on the map
  var myMarker = new google.maps.Marker({
    position: new google.maps.LatLng(50.737, -3.535),
    map: map1,
    draggable: true
  });

//   fill in the elements with latitude and longitud of the marker
  google.maps.event.addListener(myMarker, 'dragend', function(evt) {
	document.getElementById('lat_edit').value = evt.latLng.lat().toFixed(6);
    document.getElementById('lng_edit').value = evt.latLng.lng().toFixed(6);
  });

  map1.setCenter(myMarker.position);
  myMarker.setMap(map1);

}

/**
* Load google maps api for the user to drag and drop location on the map to selecte latitude and longtitude values
* instead of manually finding it out and typing it, this is a map for adding questions table
*/
function initMap2() {
	// make the map
  var map2 = new google.maps.Map(
    document.getElementById('map3'), {
      zoom: 17,
      center: new google.maps.LatLng(50.726, -3.531)
    });
	// put the marker on the map
  var myMarker = new google.maps.Marker({
    position: new google.maps.LatLng(50.737, -3.535),
    map: map2,
    draggable: true
  });

//   fill in the elements with latitude and longitud of the marker
  google.maps.event.addListener(myMarker, 'dragend', function(evt) {
	document.getElementById('lat_add').value = evt.latLng.lat().toFixed(6);
    document.getElementById('lng_add').value = evt.latLng.lng().toFixed(6);
  });

  map2.setCenter(myMarker.position);
  myMarker.setMap(map2);

}
</script>

<script>
    /**
    * Sends data from the edit question form to django backend so the entry detail can be edited in the database
    */
    $(document).ready(function(){

         $(function(){
            $("#editquestion").submit(function(event){
                event.preventDefault();
                // Below code is to get value of each input field and store them into a variable
                var question, answer, hint, latitude, longtitude;
                var question = $('#question_add').val()
                var answer = $('#answer_add').val()
                var hint = $('#hint_add').val()
                var latitude = $('#lat_add').val()
                var longtitude = $('#lng_add').val()
                // Ajax call to send data to django backend
                $.ajax({
                    type: "post",
                    url: '/edit',
                    data : {question:question, answer: answer,
                        hint: hint, latitude: latitude,
                         longtitude: longtitude,  node_num:node_num, routeID:createGameID,'csrfmiddlewaretoken': "{{ csrf_token }}"},
                    success: function(response){
                        if (response == "Added successfully") {
                            alert("Added successfully");
                            location.reload();
                } else {
                    alert("Question not added, please try again")
                }
                    },
                    error: function(xhr, desc, err){
                        console.log(err);
                    }
                });
            });
        });
    });
</script>
<!--
<h1>This is the game master page</h1>

<a href="logout">logout</a>

<h3>Change password</h3>
<!-- <form method="post">
	{% csrf_token %}
	{{ form }}
	<button type="submit">Save changes</button>
</form> -->
<!--
<form action="/login_view" method = "post">
	{% csrf_token %}
	<!-- <input type="text" name="username" placeholder="Username"><br> --><!--
	<input type="password" name="oldPass" placeholder="Old password"><br>
	<input type="password" name="newPass" placeholder="New Passowrd"><br>
	<input type="password" name="valPass" placeholder="enter again"><br>
	<input type="submit" value="change password" name="submit-changePass"><br>
	{%if messages%}
		{% for message in messages %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor%}
	{% endif %}
</form>


{% if request.user.is_superuser %}
	<h3>Make new game master account</h3>
	<form action="/login_view" method = "post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="new username">
		<input type="password" name="password" placeholder="new password"><br>
		<input type="checkbox" if="superuser" name="superuser" value="Superuser">
		<label for="superuser">Superuser</label><br>
		<input type="submit" value="make account" name="submit-signUp">
		{%if messages%}
			{% for message in messages %}
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			{% endfor%}
		{% endif %}
	</form>
{% endif %}
-->
</body>
