<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
      <meta charset="utf-8">
      <title>Exe Orientation</title>
      <meta name="description" content="">
      <meta name="author" content="Sam, Niklas, Hao">
      <meta name="theme-color" content="#ffffff">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'css/STmaster.css' %}">
     <link rel="stylesheet" href="{% static 'css/STnavbar.css' %}">
     <link rel="stylesheet" href="{% static 'css/SThome.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--MAIN MENU-S-->
    <div class="header bg-transparent ">
      <img class="nav_logo" src="{% static '/images/STmenu/Treelogo.png' %}" alt="Logo" style="width:40px;">
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <img src="{% static '/images/STmenu/Hamburger.png' %}">
      </label>
      <ul class="menu">
        <ul class="menu_item">
          <a href="/locations">Locations</a>
          <img class="logo_menu" src="{% static '/images/STmenu/locations.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/contact">Contacts</a>
          <img class="logo_menu" src="{% static '/images/STmenu/contacts.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/faq">FAQs</a>
          <img class="logo_menu" src="{% static '/images/STmenu/faq.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="#">About</a>
          <img class="logo_menu" src="{% static '/images/STmenu/about.svg' %}" alt="icon">
        </ul>
        <label for="chk" class="hide-menu-btn">
          <img src="https://img.icons8.com/ios-filled/36/000000/delete-sign.png">
        </label>
        <img class="UOE_stamp" src="{% static '/images/STmenu/uniExeter.svg' %}" alt="Universit of Exeter">
      </ul>
    </div>
    <!--MAIN MENU-E-->

      <div id="home_container" class="container-fluid p-3 my-3 bg-white text-center ">
        <h4 id="home_header" class="exampleOne-heading text-left">Find your way round campus. Start your treasure hunt now!</h4>
         <img id="home_logo" class="mx-auto d-block img-fluid" src="{% static '/images/SThome/logo_login.png' %}" alt="logo_login" width="400px" height="400px">
         <form id="groupform" action="/redirect" method = "post">
             {% csrf_token %}
          <div class="input-group justify-content-center">
           <input id="groupcode" type="text" name="groupCode" placeholder="Game Code" size="8">
           <button type="submit" name='submit-groupcode'>
             <img id=submit-groupcode src="{% static '/images/SThome/arrow.svg' %}">
           </button>
           {%if messages%}
             {% for message in messages %}
                 <div class="alert alert-danger" role="alert">
                     {{ message }}
                 </div>
             {% endfor%}
         {% endif %}
         </div>
        </form>
        <form id="soloForm" action="/redirect" method="post">
          <input id="submit-solo" type="submit" value="Single Player" name="submit-solo">
        </form>
      </div>

  </body>
</html>
