<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Exe Orientation</title>
  <meta name="description" content="">
  <meta name="author" content="Sam">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/STcollapse.css' %}">
<link rel="stylesheet" href="{% static 'css/STmaster.css' %}">
<link rel="stylesheet" href="{% static 'css/STnavbar.css' %}">
<link rel="stylesheet" href="{% static 'css/SThome.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>
	<!--MAIN MENU-S-->
    <div class="header bg-transparent ">
      <a href="/">
      <img class="nav_logo" src="{% static '/images/STmenu/Treelogo.png' %}" alt="Logo" style="width:40px;"></a>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <img src="{% static '/images/STmenu/Hamburger.png' %}">
      </label>
      <ul class="menu">
        <ul class="menu_item">
          <a href="/locations">Locations</a>
          <img class="logo_menu" src="{% static '/images/STmenu/locations.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/contact">Contacts</a>
          <img class="logo_menu" src="{% static '/images/STmenu/contacts.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/faq">FAQs</a>
          <img class="logo_menu" src="{% static '/images/STmenu/faq.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/about">About</a>
          <img class="logo_menu" src="{% static '/images/STmenu/about.svg' %}" alt="icon">
        </ul>
        <label for="chk" class="hide-menu-btn">
          <img src="https://img.icons8.com/ios-filled/36/000000/delete-sign.png">
        </label>
        <img class="UOE_stamp" src="{% static '/images/STmenu/uniExeter.svg' %}" alt="Universit of Exeter">
      </ul>
    </div>
    <!--MAIN MENU-E-->

	<!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
<div style="width:95%" class="container-fluid p-3 my-3 bg-white ">
    <h1><center>Important Locations</center></h1><br>


	<button class="collapsible">Innovation Centre</button>
	<div style="padding: 0;" class="content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.001315555496!2d-3.533126948831451!3d50.73846447435062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4436e4494cb%3A0x1c62c9fa168f33ac!2sInnovation%20Centre%2C%20Rennes%20Dr%2C%20Exeter%20EX4%204RN!5e0!3m2!1sen!2suk!4v1583676576539!5m2!1sen!2suk" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>

	<button class="collapsible">Harrison building</button>
	<div style="padding: 0;" class="content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.0407281779853!2d-3.534819648831507!3d50.73773347440346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da44487f91b0b%3A0x8619b7fe1d5d6661!2sHarrison%2C%20N%20Park%20Rd%2C%20Exeter%20EX4%204QF!5e0!3m2!1sen!2suk!4v1583676407608!5m2!1sen!2suk" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>

	<button class="collapsible">Forum</button>
	<div style="padding: 0;" class="content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1312.701104209714!2d-3.534471970516621!3d50.735124986942665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe908f3ea68dad67!2sUniversity%20of%20Exeter%20Forum%20Library!5e0!3m2!1sen!2suk!4v1583998856228!5m2!1sen!2suk" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>

	<button class="collapsible">Newman and Peter Chalk</button>
	<div style="padding: 0;" class="content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1312.6808231369275!2d-3.5363571060708776!3d50.735848615746676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da445c09d96f3%3A0x50d1a001e0033170!2sUniversity%20of%20Exeter%20Peter%20Chalk%20Centre!5e0!3m2!1sen!2suk!4v1583998816962!5m2!1sen!2suk" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
	
	<button class="collapsible">Queens building</button>
	<div style="padding: 0;" class="content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1312.7068422882114!2d-3.5339978979659947!3d50.73492025091005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4113c8130b1%3A0x77373b2168b9fd76!2sUniversity%20of%20Exeter%20Queen&#39;s%20Building!5e0!3m2!1sen!2suk!4v1583998763410!5m2!1sen!2suk" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>

	<button class="collapsible">Student Health Centre</button>
	<div style="padding: 0;" class="content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1775.685972201162!2d-3.5386771610435437!3d50.73497428585123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18555535eaf42dc1!2sStudent%20Health%20Centre!5e0!3m2!1sen!2suk!4v1583998953336!5m2!1sen!2suk" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
  </script>

</body>