<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/login_view" method = "post">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password"><br>
	<input type="submit" value="log in" name="submit-logIn">
	{%if messages%}
		{% for message in messages %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor%}
	{% endif %}
</form>


</body>
</html>