{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="UTF-8">
	<title>Title</title>
  <link rel="stylesheet" href="{% static 'css/all.css' %}"></link>
  <style>
.observablehq {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.browser-firefox .observablehq {
  transition: opacity 250ms ease-in-out 250ms;
}
.observablehq--running {
  opacity: 0;
}
.os-ios #gradient {
  filter: saturate(150%);
  -webkit-filter: saturate(150%);
}
</style>




<link rel="shortcut icon" href="/favicon.png" />
<link rel="apple-touch-icon" href="/favicon.png" />
<script type="text/javascript">document.documentElement.className = 'js';</script>
  <meta name="description" content="OpenAI is an AI research laboratory discovering and enacting the path to safe artificial general intelligence." />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="canonical" href="https://openai.com/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    
    <meta property="og:site_name" content="OpenAI" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="OpenAI" />
    <meta property="og:description" content="OpenAI is an AI research laboratory discovering and enacting the path to safe artificial general intelligence." />
    <meta property="og:url" content="https://openai.com/" />
    <meta property="og:image" content="https://openai.com/content/images/2019/05/openai-cover.png" />
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1350" />
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "OpenAI",
        "logo": {
            "@type": "ImageObject",
            "url": "https://openai.com/content/images/2019/05/openai-avatar.png",
            "width": 60,
            "height": 60
        }
    },
    "author": {
        "@type": "Person",
        "name": "OpenAI",
        "sameAs": []
    },
    "headline": "OpenAI",
    "url": "https://openai.com/",
    "description": "Discovering and enacting the path \nto safe artificial general intelligence.",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://openai.com/"
    }
}
    </script>
	<script type="module">
		import {Runtime, Inspector, Library} from "https://cdn.openai.com/home/20200218a/runtime.js";
		import notebook from "https://cdn.openai.com/home/20200218a/home.js"
		const renders = {
		  "gradient": "#gradient",
		};
		new Runtime(Object.assign(new Library)).module(notebook, name => {
		  const selector = renders[name];
		  if (selector) { // key exists
			return new Inspector(document.querySelector(selector));
		  } else {
			return true;
		  }
		});
		</script>
    <script defer src="{% static "js/members.js" %}"></script>
    <meta name="generator" content="Ghost 3.7" />
    <link rel="alternate" type="application/rss+xml" title="OpenAI" href="" />
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/favicon.png" />
</head>

<body>
  

<div class="color-bg mb-2 mb-lg-2.5 position-relative">

	<header class="header header--cover">
		<nav class="nav js-nav">
		<div class="container">
		  <div class="nav-row row d-flex justify-content-between align-items-center">
			<div class="col-2">
			  <a href="/" class="nav-symbol fade">
				<img src="{% static 'images/logo2.png' %}" ></img>
				</div>
			<div class="col" >
			  <a href="/" class="nav-wordmark fade">
				<h3 style="width:200px; padding-left: -20">Infinity Hunt</h3>
				</div>
			<div class="col-auto">
			  <ul class="nav-items d-none d-desktop-flex justify-content-end small-caps">
							  
				  <li class="nav-item">
					<a class="fade" href="/about/">About</a>
				  </li>
				  
				  <li class="nav-item">
					<a class="fade" href="/progress/">Progress</a>
				  </li>
				  
				  <li class="nav-item">
					<a class="fade" href="/resources/">Resources</a>
				  </li>
				  
				  <li class="nav-item">
					<a class="fade" href="/blog/">Blog</a>
				  </li>
			  </ul>
			  <button class="nav-toggle nav-toggle--open js-mobile-nav-open fade d-desktop-none"><svg id="mobile-nav-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,13H2a1,1,0,0,1,0-2H22a1,1,0,0,1,0,2Z"/><path d="M22,6H2A1,1,0,0,1,2,4H22a1,1,0,0,1,0,2Z"/><path d="M22,20H2a1,1,0,0,1,0-2H22a1,1,0,0,1,0,2Z"/></svg></button>
			</div>
		  </div>
		</div>
	  </nav>
	  <nav class="mobile-nav js-mobile-nav text-left">
		<div class="container">
		  <div class="nav-row row d-flex justify-content-between align-items-center">
			<div class="col-2">
			</div>
			<div class="col-auto">
			  <button class="nav-toggle nav-toggle--close js-mobile-nav-close"><svg id="mobile-nav-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path id="Glyph" d="M19.77,5.63,13.41,12l6.36,6.37a1,1,0,0,1-1.41,1.41L12,13.41,5.63,19.77a1,1,0,0,1-1.44-1.39l0,0L10.58,12,4.21,5.63a1,1,0,0,1,0-1.42,1,1,0,0,1,1.41,0l0,0L12,10.58l6.37-6.37a1,1,0,0,1,1.41,0A1,1,0,0,1,19.77,5.63Z"/></svg></button>
			</div>
		  </div>
		</div>
		<div class="container font-large">
		  <ul class="mt-0.25 small-caps">
					  
				<li>
				  <a class="fade d-block py-0.75" href="/about/">About</a>
				</li>
				<hr class="bg-fg">
			  
				<li>
				  <a class="fade d-block py-0.75" href="/progress/">Progress</a>
				</li>
				<hr class="bg-fg">
			  
				<li>
				  <a class="fade d-block py-0.75" href="/resources/">Resources</a>
				</li>
				<hr class="bg-fg">
			  
				<li>
				  <a class="fade d-block py-0.75" href="/blog/">Blog</a>
				</li>
				<hr class="bg-fg">
			<li>
			  <a class="fade d-block py-0.75" href="/jobs/">Jobs</a>
			</li>
		  </ul>
		</div>
	  </nav>
	  
	  </header>
		
	  {% block content %}
	  <!--first section-->

	  <div class="container color-white">
		<hr class="hr-strong js-nav-fold">
		<section class="mt-1 mb-1.5">
		  <div class="row">
			<div class="col-12 col-md-2">
			  <h6 class="small-copy mb-0.5 mt-0.125">This is your group code</h6>
			</div>
			<div class="col-12 col-md-10 col-lg-8">
				<h1 class="balance-text h2 font-normal" style="margin-left:-0.1rem;max-width:28rem"># :{{ groupcode }}</h1>
			  <a class="btn icon-next right fade mt-0.5 color-bg-65" href="/">Sign out</a>
			</div>
		  </div>
		</section>
	  </div>

	  <!--Question section v1-->
	  {% for questions in data %}
	  <div class="container color-white">
		<hr class="hr-strong js-nav-fold">
		<section class="mt-1 mb-1.5">
		  <div class="row">
			<div class="col-12 col-md-2">
			  <h6 class="small-copy mb-0.5 mt-0.125">Enjoy the Game!</h6>
			</div>
			<div class="col-12 col-md-10 col-lg-8">
				<h1 class="balance-text h2 font-normal" style="margin-left:-0.1rem;max-width:28rem">{{ questions.questions}}</h1>
			</div>
		  </div>
		</section>
	  </div>

	  <!--Question section v2-->

	  <section class="pb-1">
		<div class="container color-white">
		  <hr class="mb-0.75 hr-strong">
		  <h6 class="small-copy">Below is where it counts.</h6>
		</div>
		<div class="overflow-hidden">
		  <div class="overflow-x-auto mb-n2 pb-2">
			<div class="container">
			  <div class="row flex-nowrap flex-lg-wrap">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 mt-gutter mb-gutter mb-md-gutter">

	<figure class="release-cover release-cover--titled rounded shadowed-heavy mb-0">
		<br>
		<h3 class="container mb-0.25"style="color:black">Type answer below:</h3>
		
		<form class="container" action="redirect" method = "post" id="question">
			{% csrf_token %}
				 <input class="text" type="text" name="answer" placeholder="Enter your answer">
		   <br>
            <br>
			{%if messages%}
				   {% for message in messages %}
					   <div class="alert alert-danger" role="alert" style="color:black">
						   {{ message }}
					   </div>
				   {% endfor%}
                <br>
			{% endif %}

	</figure>
					</div>
				  <div class="pl-container ml-row"></div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="container color-white mt-0.5">
		  <div class="text-center"><a class="btn icon-next right" >
			<input class="btn  icon-next right fade color-bg-65" type="submit" value="ANSWER " name="submit-question"></a>
			
		</div>

		</div>
	  </section>
	</form>





{% endfor %}
{% endblock %}
<div class="position-absolute w-100 h-100 overflow-hidden bg-cool-gray-1 bg-cover trbl-0" style="z-index:-1;pointer-events:none">
	<div id="gradient" class="position-absolute d-flex justify-content-center align-items-center overflow-hidden trbl-0 observablehq--running" style="z-index:-1;pointer-events:none"></div>
	
  </div>
</div>
</div>
</body>
