<!-- Authors: Thomas, Nik, Hao -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
      <meta charset="utf-8">
      <title>Exe Orientation</title>
      <meta name="description" content="">
      <meta name="author" content="Sam, Niklas, Hao">
      <meta name="theme-color" content="#ffffff">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'css/STmaster.css' %}">
     <link rel="stylesheet" href="{% static 'css/STnavbar.css' %}">
     <link rel="stylesheet" href="{% static 'css/STgame.css' %}">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script async defer
     	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzaPwjwqJAXVNJh7Yhx50Xdvwb1h-FNV4&callback=initMap">
     </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <!--MAIN MENU-S-->
    <div class="header bg-transparent text-center">
      <button id='backtreebtn' onclick="location.href='/';">
        <img class="nav_logo" src="{% static '/images/STmenu/Treelogo.png' %}" alt="Logo" style="width:40px;">
      </button>
      <input type="checkbox" id="chk">

      <label for="chk" class="show-menu-btn">
        <img src="{% static '/images/STmenu/Hamburger.png' %}">
      </label>
      <ul class="menu">
        <ul class="menu_item">
          <a href="/locations">Locations</a>
          <img class="logo_menu" src="{% static '/images/STmenu/locations.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/contacts">Contacts</a>
          <img class="logo_menu" src="{% static '/images/STmenu/contacts.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="/faq">FAQs</a>
          <img class="logo_menu" src="{% static '/images/STmenu/faq.svg' %}" alt="icon">
        </ul>
        <ul class="menu_item">
          <a href="#">About</a>
          <img class="logo_menu" src="{% static '/images/STmenu/about.svg' %}" alt="icon">
        </ul>
        <label for="chk" class="hide-menu-btn">
          <img src="https://img.icons8.com/ios-filled/36/000000/delete-sign.png">
        </label>
        <img class="UOE_stamp" src="{% static '/images/STmenu/uniExeter.svg' %}" alt="Universit of Exeter">
      </ul>
    </div>
    <!--MAIN MENU-E-->
    {% block content %}
    <div class="row">
      <div class="game-top container-fluid">
        <h2 id="pin">Pin: {{ groupcode }}</h2>
        <button id="leave_button" onclick="location.href='/';">Leave</button>
        <div class="game_info">
          <h2 id=score>Score: 0</h2>
        </div>
      </div>

    </div>
    <div class="row mt-4">
      <div id="question-container" class="container-fluid p-3 my-3 bg-white">
        {% for questions in data %}
        <p>{{ questions.questions }}</p>
        {% endfor %}
        <div id="points-lost-container" class="points-lost-container">
          <h3 id="points-lost">-1</h3>
          <img src="{% static 'images/STgame/lose.svg' %}">
        </div>
        <button  id="gethint" onclick="showhint()">
          Hint<img src="{% static 'images/STgame/Hintbutton.svg' %}" alt="icon">
        </button>
        <div id="hint-box" class="hint-box">
          <h4 style="color:black;">Hint*</h4>
          <div class="hint-container">
            <p id="hint-text"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <form action="redirect" method = "post" id="answer-form"  >
        {% csrf_token %}
         <textarea id="answer-box" rows="1" cols="1" placeholder="Answer" name="answer"></textarea>
         <input id="answer-button" type="submit" value="Submit " name="submit-question">

         {%if messages%}
   				   {% for message in messages %}
   					   <div class="alert alert-danger" role="alert" style="color:black">
   						   {{ message }}
   					   </div>
   				   {% endfor%}
                   <br>
   			   {% endif %}

      </form>

    </div>
    {% endblock %}

    <div class="container">

<div id="myModal" class="modal">

<!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Please go to the following location and press the buttons to verify  </h2>
    </div>
    <div class="modal-body">
        <h2 style="color:black" >{{ answer }} is your destination</h2>
        <div id="map" style="width: 100%; height: 500px;"></div>
      <button onclick="getLocation()">Submit My Location</button>

    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>

 <script type = "text/javascript">

 function showhint() {
   document.getElementById("hint-box").style.display = "block";
   document.getElementById("points-lost-container").style.display = "block";
   document.getElementById("gethint").style.display = "none";
 }

    function sendRequest(){
        {% for questions in data %}
    var current_question =  {{ questions.node_num }}
        {% endfor %}
    $.ajax({
        url: "/update_request",
        type: "post",
        data: {current_question:current_question,'csrfmiddlewaretoken': "{{ csrf_token }}" },
        success:
        function(result){
            if (result == "Same Question"){
            setTimeout(function(){
                sendRequest(); //this will send request again and again;
            }, 1000);}
            else{
                location.reload(true);
            }
        },
        error: function() {
                    alert("failed")
                    location.reload(true);
                    setTimeout(function(){
                    sendRequest(); //this will send request again and again;
                     }, 5000);
                }
    });
    }
    $(window).bind("load",function(){
        sendRequest();
    })
    $(document).ready(function() {
        var hint_got = false;
        var a = "{{ score }}";
        document.getElementById("score").innerHTML = "High score : " + a ;
        $("#gethint").click(function (e) {
            showhint();
            if (hint_got == false) {
                a--;
                hint_got = true;
            }
            document.getElementById("score").innerHTML = "High score : " + a ;
			e.preventDefault();
            $.ajax({
                url: '/hint',
                type: "post",
                data :{score:a,'csrfmiddlewaretoken': "{{ csrf_token }}"},
                success: function (response) {
                    document.getElementById('hint-text').innerHTML = response;
                },
                error: function(xhr, status, error) {
                    alert("error");
}
            });
        });
    });
    $(document).ready(function() {
        $("#button_1").click(function (){
            $.ajax({
                url:'/reset_question',
                success: function(response){

                }
            });
        });
    });
    var map_check = "True";
    $(window).bind("load",function(){
        map_check = "{{ map_check }}"
        if (map_check == "True"){
            document.getElementById('myModal').style.display='block';
            initMap();
        }
    });

</script>
<script>
var x = document.getElementById("demo");

var map, infoWindow, pos, marker, radi, circle;
//CHANGE This is the center coordinate for the circle for checking if player insde. Get this from the databse.
var circPos = {
lat: {{latitude}},
lng:{{ longtitude }}
}

//CHANGE This is the radius of circle. Get this from the database.
radi = 30;

	//Ran at loading of website, intiliazes the map.
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
		//Change this to the values of the circle. From the database
          center: circPos,
          zoom: 18
        });
        infoWindow = new google.maps.InfoWindow;
        var marker = new google.maps.Marker({
          position: circPos,
          map: map,
          title: 'Hello World!'
        });
        setCompletionZone(circPos, 1);
        infoWindow.open(map);






      }

	  //Checks if player in the circle
function pointInCircle(point, radius, circPos)
{


var p = new google.maps.LatLng(point.lat, point.lng );
var c = new google.maps.LatLng(circPos.lat, circPos.lng);

	if((google.maps.geometry.spherical.computeDistanceBetween(p, c)) >= radius )
	{
		//CHANGE this to whatever you want
		alert("This is your current location. You are not there.");
	}
	else{
		//CHANGE this to whatver you want.
		alert("This is your current location. You are there.");
		document.getElementById('myModal').style.display='none';
		setFalse();
	}
}


//Gets players current location
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

//Shows position of player on the map.
function showPosition(position) {

    pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
			map.setZoom(17);

			marker.setMap(null);

			marker = new google.maps.Marker({
					  map: map,
					  position: pos,
					  title: 'your location'
					});

			pointInCircle(pos, radi, circPos);
}

//Draws circle of the completion zone.
function setCompletionZone(posi, radi){

  					marker = new google.maps.Marker({
					  map: map,
					  position: posi,
					  title: 'circle centre'
					});

					circle = new google.maps.Circle({
					  map: map,
					  radius: radi,
					     strokeColor: '#FF0000',
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: '#FF0000',
					fillOpacity: 0.35
					});
					circle.bindTo('center', marker, 'position');

					marker.setMap(null);


}

//Error handling for location request.
function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}

function setFalse(){
           $.ajax({
                url:'/set_map_false',
                success: function(response){
                }
            });
}
</script>

</body>
</html>
