{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Exe Orientation</title>
  <meta name="description" content="">
  <meta name="author" content="Sam, Niklas">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/skeleton.css"></link>
  <link rel="stylesheet" href="/static/css/custom.css"></link>
  

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section exampleOne">
    <div class="container">
      <div class="row">
		<div class="one-half column">
			<img class="u-full-width" src="{% static '/images/uniExeter.svg' %}">
			<h4 class="exampleOne-heading">Get to know University of Exeter.</h4>
		</div>
        <div class="one-half column">
		  <h5 class="exampleOne-heading">Play Treasure Hunt</h5>
		  <form action="/MVP_treasure_hunt">
			  <input type="text" name="groupCode" placeholder="Enter Code">
        <br>
			  <input type="submit" value="Join Group">
		  </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section exampleTwo">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
		  
          <h2 class="exampleTwo-multiplier">67%</h2>
          <h5 class="exampleTwo-heading">Written Information</h5>
          <p class="exampleTwo-description">This is some content that can be changed.</p>
        </div>
        <div class="one-third column value">
          <h2 class="exampleTwo-multiplier">90%</h2>
          <h5 class="exampleTwo-heading">Mobile-friendly</h5>
          <p class="exampleTwo-description">It allows us to adjust our web-page to fit a mobile screen.</p>
        </div>
        <div class="one-third column value">
          <h2 class="exampleTwo-multiplier">66%</h2>
          <h5 class="exampleTwo-heading">Change this please</h5>
          <p class="exampleTwo-description">This was always just placeholder text.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section exampleThree">
    <div class="container">
      <h3 class="section-heading">Got any questions?</h3>
      <p class="section-description">Check out the FAQs to find answers to commonly asked questions</p>
      <a class="button button-primary" href="/faq/">View FAQs</a>
    </div>
  </div>

  <div class="section exampleFour">
    <div class="container">
      <h3 class="section-heading">Interesting Tables</h3>
      <p class="section-description">This is the table theme</p>
      <div class="container">
        <table class="center">
          <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
          </tr>
          <tr>
            <td>Cool</td>
            <td>Row</td>
            <td>data</td>
            <td>Amazing</td>
          </tr>
          <tr>
            <td>Super</td>
            <td>Awesome</td>
            <td>table</td>
            <td>W0W</td>
          </tr>
        </table>
      </div>
    </div>
  </div>




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>