{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Exe Orientation</title>
  <meta name="description" content="">
  <meta name="author" content="Sam">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/skeleton.css"></link>
  <link rel="stylesheet" href="/static/css/custom.css"></link>
  

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  


</head>
<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="section exampleOne">
	<div class="container">
		<div class="row">
		<div class="one-half column">
			<h4 class="exampleOne-heading">Which room in the innovation Center has the Linux Computers</h4>
		</div>
		<div class="one-half column">
			<h5 class="exampleOne-heading">Answer here:</h5>
			<form action="">
				<input type="text" name="groupCode" placeholder="Answer...">
		<br>
				<input type="submit" value="Submit Answer" name="RiddleAnswer">
			</form>
		</div>
		</div>
	</div>
	</div>

</body>